# IDEs
.vs
.vscode
.claude

# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp
*.vpk

# Compiled formats
*.vmat_c
*.vagrp_c
*.vmesh_c
*.vcss_c
*.vtex_c
*.vpdi_c
*.vxml_c
*.vjs_c

# Gen folders
maps
materials
models
particles
soundevents
sounds

# eclipse
.project
.settings
.DS_Store
.idea

node_modules

# Bin files
tools_asset_info.bin
tools_thumbnail_cache.bin
tools_asset_info.bin
tools_thumbnail_cache.sqlite3
tools_thumbnail_cache.sqlite3-shm
tools_thumbnail_cache.sqlite3-wal
panorama/dynamic_images_custom_abilities.vpdi_c
