# IDEs
.vs
.vscode

# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp
*.vpk

# Compiled formats
*.vmat_c
*.vagrp_c
*.vmesh_c
*.vcss_c

# Gen folders
maps
materials
models
panorama
particles
soundevents
sounds

# Map overviews
resource/overviews/*

# eclipse
.project
.settings
.DS_Store
.idea

node_modules

# Bin files
tools_asset_info.bin
tools_thumbnail_cache.bin
tools_asset_info.bin
